/* Coolors Exported Palette - coolors.co/daff7d-b2ef9b-8c86aa-81559b-7e3f8f */
$lightAccent: rgba(218, 255, 125, 1);
$darkAccent: rgba(178, 239, 155, 1);
$lightBack: rgba(140, 134, 170, 1);
$primaryBack: rgba(129, 85, 155, 1);
$darkBack: rgba(126, 63, 143, 1);

$sectionHeight: 15em;

body {
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}
h1, p, ul {
    margin: 0;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: $lightAccent;

    &:hover {
        text-decoration: underline;
        color: darken($lightAccent, 35);
    }
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    text-align: right;
    font-weight: 300;
    font-size: 16pt;
    background-color: $primaryBack;
    padding: 0.5em;
    
    li {
        display: inline;
        list-style: none;
        padding-right: 1em;
        text-align: left;

        &:first-child {
            position: absolute;
            left: 1em;
        }
        .top-link-large {
            display: none;
        }
    }
}

header {
    background-color: $lightBack;
    min-height: $sectionHeight;
    .section-header {
        text-align: center;
        padding-top: 2.5em;
    }
}

section {    
    min-height: $sectionHeight;

    .section-header {
        text-align: center;
        padding-top: 1.5em;
    }
    &:nth-child(even) {
        background-color: $lightBack;
    }
    &:nth-child(odd) {
        background-color: $darkAccent;
    }
}

footer {
    min-height: 2em;
    overflow: auto;
    background-color: $primaryBack;
    padding: 1em;
    color: #CCC;

    .footer-left {
        margin-bottom: 0.5em;
        float: left;
    }
    .footer-right {
        float: right;
        p {            
            margin-bottom: 1em;
        }
        div {
            line-height: 25px;
        }
    }
}

@media screen and (min-width: 720px) {
    .navbar {
        li {
            .top-link-small {
                display: none;
            }
            .top-link-large {
                display: inline;
            }
        }
    }

    footer {
        .footer-left {
            margin-bottom: 0;
        }
        .footer-right {
            p {            
                margin-bottom: 0;
            }
            div {
                line-height: 25px;
            }
        }
    }
}