$lightAccent: rgba(220, 220, 221, 1);
$darkAccent: rgba(197, 195, 198, 1);
$lightBack: rgba(70, 73, 76, 1);
$darkBack: rgba(76, 92, 104, 1);
$primary: rgba(25, 133, 161, 1);

$sectionHeight: 15em;

body {
    font-size: 14pt;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}
h1, p, ul {
    margin: 0;
    font-weight: normal;
}
a {
    color: $lightAccent;

    &:hover {
        text-decoration: underline;
        color: darken($lightAccent, 25);
    }
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}
.notification-banner {
    position: fixed;
    top: -15px;
    background-color: $darkAccent;
    color: $primary;
    border-radius: 15px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    z-index: 101;
    text-align: center;
    font-size: 18pt;
    font-weight: 400;
    padding-top: 1em;
    padding-bottom: 0.5em;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.card {
    margin-bottom: 2em;

    .card-header {
        text-align: center;
    }

    .card-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .carousel {
            flex: 1 1;
            img {
                max-width: 100%;
                border-radius: 5px;
            }
        }
        .card-text {
            padding: 0.5em;
            flex: 1 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .card-link {
                font-size: 18pt;
                text-align: center;
                margin-top: 25px;

                a {
                    color: $primary;
                }
            }
        }
    }
}
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    text-align: right;
    font-weight: 300;
    font-size: 16pt;
    background-color: $darkBack;
    padding: 0.5em;
    
    li {
        display: inline;
        list-style: none;
        padding-right: 1em;
        text-align: left;

        &:first-child {
            position: absolute;
            left: 1em;
        }
        .top-link-large {
            display: none;
        }
    }
}

header {
    background-color: $darkAccent;
    min-height: $sectionHeight;
    padding-top: 3.5em;
    text-align: justify;

    .section-header {
        text-align: center;
        margin-bottom: 1em;
    }
}

section {    
    min-height: $sectionHeight;
    padding-bottom: 1em;

    .section-header {
        text-align: center;
        padding-top: 0.5em;
        margin-bottom: 1em;
    }
    &:nth-child(even) {
        background-color: $lightBack;
        color: $lightAccent;
    }
    &:nth-child(odd) {
        background-color: $darkAccent;
        color: $lightBack;
    }
}

#school {
    text-align: center;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        padding-bottom: 1.5em;
    }
    .text-description {
        display: inline-block;
        text-align: left;

        li {
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
            text-indent: -1em;

            &::before {
                content: "\2713\a0";
            }
        }
        p {
            font-size: 14pt;
            a {
                color: $primary;
            }
        }
    }
}

#links {
    h1 {
        margin-bottom: 1em;
    }
    a {
        text-align: center;
        display: block;
        margin-bottom: 2em;
        width: 10em;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid transparent;

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid #FFF;
        }
        img {
            width: 2em;
        }
    }
}

footer {
    min-height: 2em;
    overflow: auto;
    background-color: $darkBack;
    padding: 1em;
    color: #CCC;

    .footer-left {
        margin-bottom: 0.5em;
        float: left;
    }
    .footer-right {
        float: right;
        p {            
            margin-bottom: 1em;
        }
        div {
            line-height: 25px;
        }
    }
}

@media screen and (min-width: 720px) {
    .container {
        width: 75%;
    }
    a {
        text-decoration: none;
    }
    .navbar {
        li {
            .top-link-small {
                display: none;
            }
            .top-link-large {
                display: inline;
            }
        }
    }

    footer {
        .footer-left {
            margin-bottom: 0;
        }
        .footer-right {
            p {            
                margin-bottom: 0;
            }
            div {
                line-height: 25px;
            }
        }
    }
}